@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,400italic,700,700italic|Caveat+Brush);

h2 {
    font-family: "Fira Sans", "Trebuchet MS", "Helvetica Neue", "Arial", sans-serif;
}

p.lead {
    font-family: "Fira Sans", "Trebuchet MS", "Helvetica Neue", "Arial", sans-serif;
}

.day {
    color: rgb(93, 110, 121);
   font-size: 1rem;
   font-weight: normal;
}

.dayno {
    color: rgb(40, 47, 52);
   font-size: 1.5rem;
    font-weight: bold;
}

.timelap {
    color: rgb(93, 110, 121);
    font-size: 1rem;
    font-weight: bold;
}

.activite {
    color: rgb(93, 110, 121);
}

.participant {
    /*border: 1px solid rgb(93, 110, 121);
    border-radius: 2px;*/
    font-size: 0.9rem;
}
